Source: kanotix-remountrw
Section: misc
Priority: optional
Maintainer: Stefan Lippers-Hollmann <s.l-h@gmx.de>
Build-Depends: cdbs (>= 0.4.23-1.1), debhelper (>= 5.0.0)
Standards-Version: 3.7.2

Package: kanotix-remountrw
Architecture: all
Depends: dialog, xdialog, kanotix-su
Description: Minimalistic script for r/w remount of partitions
 This script is used for the desktop icons in KANOTIX to change the
 r/w status of already mounted partitions via
 mount -o remount,{rw,ro} /dev/partitionname
